.item {
  width: 160px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px #ccc;
  margin: 10px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.item img {
  width: 110px;
  height: 140px;
}
.item:hover {
  transform: rotate(1deg) scale(1.02);
}
